if SHIELD_LEVERET_DONGLE

config ZMK_KEYBOARD_NAME
    default "leveret"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LEVERET_LEFT || SHIELD_LEVERET_RIGHT || SHIELD_LEVERET_LEFT

config ZMK_SPLIT
    default y

endif
